<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
</head>
<body>
    <form id="registerForm">
        <label for="username">帳號名稱：</label><br>
        <input id="username" type="text" name="username" required><br>
        <label for="acc">帳號：</label><br>
        <input id="acc" type="text" name="acc" required><br>
        <label for="password">密碼：</label><br>
        <input id="password" type="password" name="password" required><br>
        <label for="confirm_password">確認密碼：</label><br>
        <input id="confirm_password" type="password" name="confirm_password" required><br>
        <button type="button" onclick="submitForm()">註冊</button><br>
    </form>
    <p>已經有帳號了嗎？<a href="/login">點此登入</a></p>

    
</body>
</html>